{% block content %}
<h><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"></h>
<form action="" method="GET">
    {{ filter.form }}

    <input type="submit" name="Confirm">
</form>
<table class="table table-dark table=dark">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Attribute</th>
      <th scope="col">Role</th>
      <th scope="col">Tag</th>
      <th scope="col">Skill</th>
    </tr>
  </thead>
  <tbody>
    <tr> >
{% for hero in heroes %}
<tr>
        <td><a href=" {% url 'heroinfo' hero.name %}"><img src="{{ hero.image.url }}" width="110px" height="80px"></a></td>
    <td>{{ hero.name }}</td>
    <td>{{ hero.atr }}</td>
    <td>{{ hero.role }}</td>
    <td>{{ hero.tag }}</td>
    <td>{{ hero.skill }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}


